<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics</title>
</head>
<body>
   <%- include('partials/header',{page:'analytics'}) %>
  <table>
    <tr>
        <th>Sno.</th>
        <th>Url</th>
        <th>ShortUrl</th>
        <th>Date</th>
        <th>Analytics</th>
    </tr>
    <%ur%>
  </table>  

<!-- footer -->
        <%- include('partials/footer') %>

</body>
</html>